.skills {
  background-color: white;
  padding-left: 8%;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 50vh;
  .circles {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    .item {
      flex: 0 0 33%;
      .text-center {
        margin-bottom: 30px;
        width: 120px;
        text-align: center;
        .c100 {
          margin: 0;
          margin-bottom: 10px;
          background: transparent !important;
          &::after {
            background: transparent !important;
            top: 0.04em;
            left: 0.04em;
            width: 0.92em;
            height: 0.92em;
          }

          & > span {
            font-size: 0.1em !important;
            width: 10em !important;
            color: $mainDark;
            line-height: 10em !important;
            // color: #307bbb!important;
          }
          &.bg {
            .bar,
            .fill {
              border-color: $main !important;
            }
          }
        }
      }
    }
  }
  .lst-skills {
    margin-top: 40px;
    ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      li {
        box-sizing: border-box;
        display: block;
        p {
          border-bottom: 1px solid $mainLight;
          width: 90%;
        }

        flex: 0 0 50%;
        padding: 10px;
      }
    }
  }

  @media (max-width: 992px) {
    padding: 50px;
    .circles {
      .item {
        flex: 0 0 50%;
        .text-center {
          width: unset;
          .c100 {
            margin: 0 auto;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding-left: 8%;
    .circles {
      .item {
        flex: 0 0 100%;
      }
    }
    .lst-skills{
        ul{
            li{
                flex:0 0 100%;
            }
        }
    }
  }
}
